body{
    background-image: url("ww.jpg");
    display: grid;
}
div{
    text-align: center;

}

h3{
    color: rgb(62, 9, 112);
    font-size: 30px;

}

button{
    text-align: center;
    color: brown;
    background-color: cadetblue;
    
}
img{
    width: 160px;
    height:160px ;
}

